<h1>Stupid Coaching</h1>
<div class="card">
  <p><%= @response%></p>
  <p>- <em>You</em></p>
</div>
<div class="card bg-light">
  <p><strong><%= @reply%></strong></p>
  <p>-<em>Your Coach</em></p>
  <p><%= link_to "Ask a new Question", "ask", class: "resposta" %></p>
</div>
